/* Tags */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
    color: white;
    pointer-events: none;
    overflow-x: hidden;
    z-index: 1;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.5rem;
}

p {
    font-size: 1.2rem;
}

a {
    color: white;
    pointer-events: auto;
}

button {
    min-width: 100px;
    background: none;
    /* background: rgba(0, 0, 0, 1); */
    border: 2px solid white;
    color: white;
    padding: 0.7rem 1rem;
    position: relative;
    cursor: pointer;
    pointer-events: auto;
    min-width: 100px;
    z-index: 1;
    transition: background-color 0.3s;
}

button::before {
    content: '';
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    border: 2px solid transparent;
    pointer-events: none;
    z-index: 2;
}

button:hover::before {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s;
    animation: border-animate 0.6s linear forwards;
}

/* Class */
.container {
    min-height: 100vh;
    padding: 6rem 3rem 3rem;
    background-color: transparent;
    box-sizing: border-box;
    overflow-y: hidden;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 1.25rem 3rem;
    box-sizing: border-box;
    z-index: 11;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger{
    display: none;
    position: relative;
}

.hamburger span {
    display: block;
    width: 30px;
    height: 4px;
    background: white;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.hamburger span::before,
.hamburger span::after {
    content: '';
    display: block;
    position: absolute;
    width: 30px;
    height: 4px;
    background: white;
    transition: top 0.3s, transform 0.3s, opacity 0.3s;
}

.hamburger span::before {
    top: -10px;
}

.hamburger span::after {
    top: 10px;
}

.hamburger:hover {
    filter: brightness(30%) sepia(1) hue-rotate(0deg) saturate(0%) grayscale(100%) invert(20%);
}

.hamburger:hover span::before {
    top: -12px;
}

.hamburger:hover span::after {
    top: 12px;
}

.hamburger.open span {
    background: transparent;
}

.hamburger.open span::before {
    top: 0;
    transform: rotate(45deg);
}

.hamburger.open span::after {
    top: 0;
    transform: rotate(-45deg);
}

.menu {
    display: grid;
    justify-content: center;
    gap: 20px;
}

.settings {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 1.25rem 3rem;
    box-sizing: border-box;
    z-index: 9;
}

.icon {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    cursor: pointer;
    pointer-events: auto;
    transition: transform 0.2s;
}

.icon:hover {
    transform: scale(1.1);
    filter: brightness(30%) sepia(1) hue-rotate(0deg) saturate(0%) grayscale(100%) invert(20%);
}

.page-slide-in {
    position: relative;
    animation: slideIn 0.5s ease;
}

.abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    width: 90%;
    transform: translate(-50%, -50%);
}

.abs-bottom {
    position: absolute;
    bottom: 75px;
    left: 50%;
    margin: auto;
    width: 80vw;
    transform: translateX(-50%);
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-text-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero h1{
    font-size: clamp(3rem, 6vw, 6.1vw);
    margin: 0;
    transition: opacity 0.5s ease-in;
}

.hero p{
    font-size: clamp(1.5rem, 3vw, 3.1vw);
    margin: 1.25rem 0 0 0;
    transition: opacity 0.5s ease-in;
}

.fade-out {
    opacity: 0;
}

.intro-title {
    margin: 0;
}

.intro-text {
    margin: 0;
    max-width: 1000px;
}

.page-section {
    padding: 1rem 2rem 4rem;
    width: 100%;
    box-sizing: border-box;
    pointer-events: auto;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 1rem;
}

.project-content {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
    filter: grayscale(1);
}

.project-content:hover {
    transform: scale(1.05);
    filter: grayscale(0);
}

.thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.project-details {
    padding: 0.5rem 2rem;
}

.project-img {
    margin-bottom: 1rem;
    break-inside: avoid;
    border: 1px solid white;
    border-radius: 5px;
    object-fit: cover;
    width: 100%;
}

.truncate {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.row {
    display: flex;
    flex-wrap: nowrap;
}

.column {
    flex: 1 1 0;
    padding: 2%;
    min-width: 0;
}

.text-container {
    text-align: justify;
    max-width: 85%;
}

.text-col-container {
    text-align: justify;
    max-width: 600px;
}

.text-title {
    text-align: left;
    margin: 0 0 3rem 0;
    font-size: clamp(1.5rem, 1.5vw, 1.7rem) !important;
}

.text-sub-title {
    margin: 0 0 2rem 0;
}

.icons-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 1rem 0.5rem;
    place-items: center;
    max-width: 600px;
    width: 100%;
}

.icons-grid.swipe-left {
    animation: swipeLeft 0.5s ease;
}

.icons-grid.swipe-right {
    animation: swipeRight 0.5s ease;
}

.tech-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    line-height: 0;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.2s;
}

.tech-icon-wrapper.active {
    background-color: rgba(121, 163, 218, 0.1);
    transform: scale(1.2);
}


.tech-icon {
    width: 50px;
    height: 50px;
    padding: 1rem;
    vertical-align: middle;
}

.icon-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-top: 30px;
    padding: 0 10px;
    height: 50px;
    width: 100%;
    max-width: 550px;
    min-width: 200px;
}

.control-icon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    cursor: pointer;
    pointer-events: auto;
    transition: transform 0.2s;
}

.control-icon:hover {
    transform: scale(1.1);
    filter: brightness(30%) sepia(1) hue-rotate(0deg) saturate(0%) grayscale(100%) invert(20%);
}

.icon-name {
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: transform 0.2s;
}

.icon-name:hover {
    transform: scale(1.2);
}

.experiences-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.85rem;
}

.experiences {
    margin-left: 1.85rem;
    cursor: pointer;
    transition: transform 0.2s;
    color: rgb(170, 170, 170);
}

.experiences:hover {
    transform: scale(1.1);
}

.experiences.active {
    color: white;
    transform: scale(1.1);
}

.experiences h2{
    margin: 0 0 10px 0;
}

.experiences p{
    margin: 0;
}

.experience-container {
    border: 2px solid white;
    border-radius: 20px;
    width: 90%;
    height: 100%;
}

.experience-details {
    margin: 0;
    padding: 1.25rem 2vw;
    text-align: justify;
}

.experience-details h2{
    border-bottom: 1px solid white;
    font-size: clamp(1rem, 1.5vw, 1.5rem) !important;
}

.experience-details p{
    margin: 0 0 2vw 0;
}

.experience-icon {
    max-width: 100px;
    max-height: 100px;
    vertical-align: middle;
    width: 6vw;
}

.contact-container {
    text-align: center;
}

.contact-text {
    max-width: 85%;
}

.contact-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 3rem;
}

.contact-icon {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    transition: transform 0.2s;
}

.contact-icon:hover {
    transform: scale(1.2);
}

.tooltip-wrapper {
    position: relative;
    color: white;
    cursor: pointer;
}

.tooltip-text {
    position: absolute;
    top: 150%;
    left: 50%;
    background-color: rgba(43, 42, 42, 1);
    text-align: center;
    white-space: nowrap;
    padding: 8px;
    border-radius: 4px;
    font-size: 0.75rem;
    pointer-events: none;
    opacity: 0;
    transform: translateX(-50%);
    transition: opacity 0.3s ease;
}

.tooltip-wrapper:hover .tooltip-text {
    opacity: 1;
}

.invert-color {
    filter: invert(100%);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.card {
    flex: 25%;
    padding: 1rem;
    background-color: rgb(20, 20, 20);
    border: 2px solid white;
    border-radius: 5px;
    max-width: 300px;
    text-align: center;
    pointer-events: auto;
    cursor: pointer;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.1);
    background-color: black;
}

.card-img {
    margin-bottom: 1.5rem;
    width: 100%;
    min-height: 200px;
    object-fit: cover;
}

/* ID */
#logo {
    height: 50px;
    pointer-events: auto;
    transition: transform 0.2s;
}

#logo:hover {
    transition: transform 0.2s;
    transform: scale(1.1);
    cursor: pointer;
    filter: brightness(30%) sepia(1) hue-rotate(0deg) saturate(0%) grayscale(100%) invert(20%);
}

#logo.open {
    visibility: visible;
}

#menuOverlay {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    z-index: 10;
}

#menuOverlay.open {
    display: none;
}

#worksDetails {
    display: none;
    margin-bottom: 5rem;
}

#worksDetails.active {
    display: block;
    opacity: 1;
    animation: slideIn 0.5s ease;
}

#projectImages {
    column-count: 2;
    /* column-count: 3; */
    column-gap: 1.5rem;
}

#aboutIntro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.85rem;
}

#aboutDetails {
    display: none;
    margin-bottom: 5rem;
}

#aboutDetails.active {
    display: block;
    opacity: 1;
    animation: slideIn 0.5s ease;
}

#aboutBtn {
    width: 50%;
}

#canvas {
    position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
    pointer-events: none;
}