/* Tags */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
    color: white;
    pointer-events: none;
    overflow-x: hidden;
    z-index: 1;
}

a {
    text-decoration: none;
}

button {
    background: none;
    border: 2px solid white;
    color: white;
    padding: 10px 15px;
    position: relative;
    transition: background-color 0.3s;
    z-index: 1;
    cursor: pointer;
    min-width: 100px;
    pointer-events: auto;
}

button::before {
    content: '';
    position: absolute;
    top: -2px; left: -2px; right: -2px; bottom: -2px;
    border: 2px solid transparent;
    z-index: 2;
    border-radius: 0;
    pointer-events: none;
}

button:hover::before {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s;
    animation: border-animate 0.6s linear forwards;
}

/* Class */
.container {
    min-height: 100vh;
    padding: 100px 50px 50px;
    background-color: transparent;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 50px;
    box-sizing: border-box;
    z-index: 11;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger{
    display: none;
    position: relative;
}

.hamburger span {
    display: block;
    width: 30px;
    height: 4px;
    background: #ffffff;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.hamburger span::before,
.hamburger span::after {
    content: '';
    display: block;
    position: absolute;
    width: 30px;
    height: 4px;
    background: #ffffff;
    transition: top 0.3s, transform 0.3s, opacity 0.3s;
}

.hamburger span::before {
    top: -10px;
}

.hamburger span::after {
    top: 10px;
}

.hamburger:hover {
    filter: brightness(30%) sepia(1) hue-rotate(0deg) saturate(0%) grayscale(100%) invert(20%);
}

.hamburger:hover span::before {
    top: -12px;
}

.hamburger:hover span::after {
    top: 12px;
}

.hamburger.open span {
    background: transparent;
}

.hamburger.open span::before {
    top: 0;
    transform: rotate(45deg);
}

.hamburger.open span::after {
    top: 0;
    transform: rotate(-45deg);
}

.menu {
    display: grid;
    justify-content: center;
    gap: 20px;
}

.edit-bar {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 50px;
    box-sizing: border-box;
    z-index: 100;
}

.icon {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    cursor: pointer;
    pointer-events: auto;
    transition: transform 0.2s;
}

.icon:hover {
    transform: scale(1.1);
    filter: brightness(30%) sepia(1) hue-rotate(0deg) saturate(0%) grayscale(100%) invert(20%);
}

.page-slide-in {
    position: relative;
    animation: slideIn 0.5s ease;
}

.abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    width: 90vw;
    transform: translate(-50%, -50%);
}

.abs-bottom {
    position: absolute;
    bottom: 75px;
    left: 50%;
    margin: auto;
    width: 80vw;
    transform: translateX(-50%);
}

.flex-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h1{
    font-size: 100px;
    margin: 0;
}

.hero p{
    font-size: 50px;
    margin: 20px 0 0 0;
}

.hero h1,
.hero p {
    transition: opacity 0.5s ease-in;
}

.fade-out {
    opacity: 0;
}

.about-intro {
    display: block;
    text-align: center;
}

.about-details {
    display: none;
    margin-bottom: 5rem;
}

.about-details.active {
    display: block;
    opacity: 1;
    animation: slideIn 0.5s ease;
}

.page-section {
    padding: 1rem 2rem 4rem 2rem;
    width: 100%;
    box-sizing: border-box;
    pointer-events: auto;
}

.page-section h1{
    font-size: 1.8rem;
}

.page-section p{
    font-size: 1.2rem;
}

.page-section.text {
    max-width: 80vw;
}

.page-section.text p{
    padding: 0 20px;
}

.row {
    display: flex;
}

.column {
    flex: 1;
    padding: 20px;
}

/* .item-title {
    margin: 0;
} */

.icons-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 50px;
    place-items: center;
    /* max-width: 600px; */
}

.icons-grid.swipe-left {
  animation: swipeLeft 0.5s ease;
}

.icons-grid.swipe-right {
  animation: swipeRight 0.5s ease;
}

.tech-icon {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    cursor: pointer;
    transition: transform 0.2s;
}

.tech-icon.active {
    transform: scale(1.2);
    filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.4));
}

.icon-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-top: 30px;
    padding: 0 10px;
    height: 50px;
}

.control-icon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    cursor: pointer;
    pointer-events: auto;
    transition: transform 0.2s;
}

.control-icon:hover {
    transform: scale(1.1);
    filter: brightness(30%) sepia(1) hue-rotate(0deg) saturate(0%) grayscale(100%) invert(20%);
}

.icon-name {
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: transform 0.2s;
}

.icon-name:hover {
    transform: scale(1.2);
}

.text-container {
    padding: 0 20px 0 20px;
    min-width: 350px;
}

.text-container {
    padding: 0 20px 0 20px;
    /* min-width: 350px; */
    max-width: 500px;
    gap: 10px;
}

.text-title {
    font-weight: bold;
    margin: 0 0 50px 0;
}

.text-sub-title {
    margin: 0 0 50px 0;
}

.experiences-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-width: 350px;
}

.experiences {
    margin-left: 30px;
    cursor: pointer;
    transition: transform 0.2s;
    color: rgb(170, 170, 170);
}

.experiences:hover {
    transform: scale(1.08);
}

.experiences.active {
    color: white;
    transform: scale(1.08);
}

.experiences h2{
    margin: 0 0 10px 0;
}

.experiences p{
    margin: 0;
}

.experience-container {
    border: 2px solid white;
    border-radius: 20px;
    margin: 20px;
    max-width: 80%;
}

.experience-details {
    margin: 0;
}

.experience-icon {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

.contact-container {
   padding: 0 20px;
   text-align: center;
}

.contact-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

.contact-icon {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    transition: transform 0.2s;
}

.contact-icon:hover {
    transform: scale(1.2);
}

.invert-color {
    filter: invert(100%);
}

/* ID */
#logo {
    height: 50px;
    pointer-events: auto;
    transition: transform 0.2s;
}

#logo:hover {
    transition: transform 0.2s;
    transform: scale(1.1);
    cursor: pointer;
    filter: brightness(30%) sepia(1) hue-rotate(0deg) saturate(0%) grayscale(100%) invert(20%);
}

#logo.open {
    visibility: hidden;
}

#menuOverlay {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    z-index: 10;
}

#menuOverlay.open {
    display: flex;
}

#viewBtn,
#closeBtn {
    display: none;
}

#aboutBtn {
    width: 50%;
}

/* #pageContent {
    position: relative;
    height: 80vh;
} */

#bgCanvas {
    position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;
    pointer-events: none;
}

.tooltip-wrapper {
    position: relative;
    color: white;
    cursor: pointer;
}

.tooltip-text {
    position: absolute;
    top: 150%;
    left: 50%;
    background-color: #2b2a2a;
    text-align: center;
    white-space: nowrap;
    padding: 8px;
    border-radius: 4px;
    font-size: 0.75rem;
    opacity: 0;
    transform: translateX(-50%);
    transition: opacity 0.3s ease;
}

.tooltip-wrapper:hover .tooltip-text {
    opacity: 1;
}
