/* Keyframes */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes swipeRight {
    from {
        opacity: 0;
        transform: translateX(20%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes swipeLeft {
    from {
        opacity: 0;
        transform: translateX(-20%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes border-animate {
    0% {
        border-top-color: #4b4b4b;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    25% {
        border-top-color: #4b4b4b;
        border-right-color: #4b4b4b;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    50% {
        border-top-color: #4b4b4b;
        border-right-color: #4b4b4b;
        border-bottom-color: #4b4b4b;
        border-left-color: transparent;
    }
    75% {
        border-top-color: #4b4b4b;
        border-right-color: #4b4b4b;
        border-bottom-color: #4b4b4b;
        border-left-color: #4b4b4b;
    }
    100% {
        border-top-color: #4b4b4b;
        border-right-color: #4b4b4b;
        border-bottom-color: #4b4b4b;
        border-left-color: #4b4b4b;
    }
}

/* Media */
@media screen and (max-width: 950px) {
    .container {
        padding: 6rem 1.25rem 3rem;
    }

    .navbar {
        padding: 1.25rem 1.25rem 3rem;
    }
        
    .hamburger {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 30px;
        height: 24px;
        cursor: pointer;
    }

    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .page-section {
        padding: 0.63rem 1rem 1.25rem;
    }

    .project-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .project-details {
        padding: 0 1rem;
    }

    .row .column:nth-child(2) {
        display: none;
    }

    .icons-grid {
        max-width: 700px;
    }

    .icon-controls {
        max-width: 600px;
    }

    .experiences {
        text-align: center;
        color: white;
        margin: 0.63rem;
    }

    .experiences.active {
        transform: scale(1.0);
    }

    .contact-icons {
        gap: 1.85rem;
        margin-top: 3rem;
    }
    
    .card {
        flex: 100%;
    }
    
    .card-img {
        margin-bottom: 1rem;
        min-height: 150px;
    }

    #logo.open {
        visibility: hidden;
    }

    #menuOverlay.open {
        display: flex;
    }

    /* #projectImages {
        column-count: 2;
    } */
}

@media screen and (max-width: 450px) {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    p {
        font-size: 1rem;
    }

    .project-container {
        grid-template-columns: repeat(1, 1fr);
        padding: 0.5rem;
    }

    .project-details {
        padding: 0 0.5rem;
    }

    .project-img {
        margin-bottom: 0.5rem;
    }
    
    .about-intro {
        gap: 1.25rem;
    }

    .intro-text span {
        display: none;    
    }

    .icons-grid {
        gap: 1.25rem 0.63rem;
        max-width: 700px;
    }
    
    .tech-icon {
        width: 30px;
        height: 30px;
        padding: 0.5rem;
    }

    .icon-name {
        font-size: 1.25rem;
    }

    .text-container {
        max-width: 90%;
    }

    .experiences-list {
        gap: 1rem;
    }

    .contact-text {
        max-width: 90%;
    }
    
    .contact-icons {
        gap: 1.25rem;
        margin-top: 3rem;
    }

    .contact-icon {
        width: 30px;
        height: 30px;
    }

    .contact-icons .tooltip-wrapper:nth-child(1) .tooltip-text {
        transform: translateX(-15%);
    }

    .contact-icons .tooltip-wrapper:nth-child(5) .tooltip-text {
        transform: translateX(-85%);
    }

    .card-img {
        min-height: 100px;
    }

    #projectImages {
        column-count: 1;
    }
}

@media screen and (max-width: 295px), screen and (max-height: 295px) {
    header,
    main,
    .settings {
        visibility: hidden;
    }
}