/* Keyframes */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes swipeRight {
    from {
        opacity: 0;
        transform: translateX(20%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes swipeLeft {
    from {
        opacity: 0;
        transform: translateX(-20%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes border-animate {
    0% {
        border-top-color: #4b4b4b;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    25% {
        border-top-color: #4b4b4b;
        border-right-color: #4b4b4b;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    50% {
        border-top-color: #4b4b4b;
        border-right-color: #4b4b4b;
        border-bottom-color: #4b4b4b;
        border-left-color: transparent;
    }
    75% {
        border-top-color: #4b4b4b;
        border-right-color: #4b4b4b;
        border-bottom-color: #4b4b4b;
        border-left-color: #4b4b4b;
    }
    100% {
        border-top-color: #4b4b4b;
        border-right-color: #4b4b4b;
        border-bottom-color: #4b4b4b;
        border-left-color: #4b4b4b;
    }
}

/* Media */
@media screen and (max-width: 950px) {
    .container {
        padding: 6rem 1.25rem;
    }

    .navbar {
        padding: 1.25rem 1.25rem 3rem;
    }
        
    .hamburger {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 30px;
        height: 24px;
        cursor: pointer;
    }

    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .hero h1 {
        font-size: 3rem;
    }

    .hero p {
        font-size: 1.5rem;
    }

    .page-section {
        padding: 0.63rem 0.63rem 1.25rem 0.63rem;
    }

    .page-section.text {
        max-width: 90%;
    }

    .page-section.text p{
        padding: 0 0.63rem;
    }

    .row .column:nth-child(2) {
        display: none;
    }
    
    /* .column {
        padding: 10px;
    } */

    .icons-grid {
        gap: 3rem 1.85rem;
        max-width: 700px;
    }

    .icon-controls {
        max-width: 600px;
    }

    .experiences {
        text-align: center;
        color: white;
        margin: 0.63rem;
    }

    .experiences.active {
        transform: scale(1.0);
    }

    .contact-container {
        padding: 0 0.63rem; 
    }

    .contact-icons {
        gap: 1.85rem;
        margin-top: 3rem;
    }

    /* #arcade-button, #arcade-button-menu {
        display: none;
    } */
}

@media screen and (max-width: 400px) {
    .about-intro {
        gap: 1.25rem;
    }

    .intro-text span{
        display: none;    
    }
    
    .icons-grid {
        gap: 1.25rem 0.63rem;
        max-width: 700px;
    }
    
    .tech-icon {
        width: 30px;
        height: 30px;
    }

    .icon-name {
        font-size: 1.25rem;
    }
    
    .contact-icons {
        gap: 1.25rem;
        margin-top: 3rem;
    }

    .contact-icon {
        width: 30px;
        height: 30px;
    }

    .contact-icons .tooltip-wrapper:nth-child(1) .tooltip-text {
        transform: translateX(-15%);
    }

    .contact-icons .tooltip-wrapper:nth-child(5) .tooltip-text {
        transform: translateX(-85%);
    }
}